# Files and directories with the attribute export-ignore won’t be added to
# archive files. See http://git-scm.com/docs/gitattributes for details.

# git
.github/            export-ignore
*.git               export-ignore
*.gitignore         export-ignore
*.gitattributes     export-ignore

# development
/stubs              export-ignore
/tests/             export-ignore
/__init__.py        export-ignore
mypy.ini            export-ignore
setup.cfg           export-ignore
unittesting.json    export-ignore
